<%- include("../partials/admin/admin-header.ejs"); -%>

<div class="container-fluid">
    <div class="row">
        <%- include("../partials/admin/admin-navbar.ejs"); -%>
        <!--Main-->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <!--Header -->
            <div
                class="
                    d-flex
                    justify-content-between
                    flex-wrap flex-md-nowrap
                    align-items-center
                    border-bottom
                    shadow-sm
                    p-3
                    mb-5
                    bg-white
                    rounded
                "
            >
                <h5><i class="fas fa-cogs"></i> Technical Information</h5>
            </div>
            <!--Header -->
            <!--Body-->
            <div class="table-responsive shadow-sm p-3 mb-5 bg-white rounded">
                <!--References-->
                <div class="my-3 p-5 bg-body rounded shadow-sm">
                    <h6 class="border-bottom pb-2 mb-0">
                        <i class="fas fa-book"></i> References
                    </h6>
                    <!--Bootstrap-->
                    <div class="d-flex text-muted pt-3">
                        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                            <div class="d-flex justify-content-between">
                                <strong class="text-gray-dark"
                                    >Bootstrap v5</strong
                                >
                                <a
                                    class="text-dark"
                                    href="https://getbootstrap.com/docs/5.0/getting-started/introduction/"
                                    >Link</a
                                >
                            </div>
                        </div>
                    </div>
                    <!--Node.js-->
                    <div class="d-flex text-muted pt-3">
                        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                            <div class="d-flex justify-content-between">
                                <strong class="text-gray-dark">Node.js</strong>
                                <a
                                    class="text-dark"
                                    href="https://nodejs.org/en/"
                                    >Link</a
                                >
                            </div>
                        </div>
                    </div>
                    <!--Express-->
                    <div class="d-flex text-muted pt-3">
                        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                            <div class="d-flex justify-content-between">
                                <strong class="text-gray-dark">Express</strong>
                                <a
                                    class="text-dark"
                                    href="https://expressjs.com/"
                                    >Link</a
                                >
                            </div>
                        </div>
                    </div>
                    <!--MongoDB-->
                    <div class="d-flex text-muted pt-3">
                        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                            <div class="d-flex justify-content-between">
                                <strong class="text-gray-dark">MongoDB</strong>
                                <a
                                    class="text-dark"
                                    href="https://www.mongodb.com/"
                                    >Link</a
                                >
                            </div>
                        </div>
                    </div>
                    <!--Fontawesome-->
                    <div class="d-flex text-muted pt-3">
                        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                            <div class="d-flex justify-content-between">
                                <strong class="text-gray-dark"
                                    >Fontawesome</strong
                                >
                                <a
                                    class="text-dark"
                                    href="https://fontawesome.com/"
                                    >Link</a
                                >
                            </div>
                        </div>
                    </div>
                    <!--EJS-->
                    <div class="d-flex text-muted pt-3">
                        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                            <div class="d-flex justify-content-between">
                                <strong class="text-gray-dark">EJS</strong>
                                <a class="text-dark" href="https://ejs.co/"
                                    >Link</a
                                >
                            </div>
                        </div>
                    </div>
                    <!--Javascript-->
                    <div class="d-flex text-muted pt-3">
                        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                            <div class="d-flex justify-content-between">
                                <strong class="text-gray-dark"
                                    >Javascript</strong
                                >
                                <a
                                    class="text-dark"
                                    href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/First_steps/What_is_JavaScript"
                                    >Link</a
                                >
                            </div>
                        </div>
                    </div>
                    <!--HTML5-->
                    <div class="d-flex text-muted pt-3">
                        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                            <div class="d-flex justify-content-between">
                                <strong class="text-gray-dark">HTML5</strong>
                                <a
                                    class="text-dark"
                                    href="https://html.com/html5/"
                                    >Link</a
                                >
                            </div>
                        </div>
                    </div>
                    <!--CSS3-->
                    <div class="d-flex text-muted pt-3">
                        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                            <div class="d-flex justify-content-between">
                                <strong class="text-gray-dark">CSS3</strong>
                                <a
                                    class="text-dark"
                                    href="https://developer.mozilla.org/en-US/docs/Web/CSS"
                                    >Link</a
                                >
                            </div>
                        </div>
                    </div>
                    <!--Bcrypt-->
                    <div class="d-flex text-muted pt-3">
                        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                            <div class="d-flex justify-content-between">
                                <strong class="text-gray-dark">Bcrypt</strong>
                                <a
                                    class="text-dark"
                                    href="https://www.npmjs.com/package/bcrypt"
                                    >Link</a
                                >
                            </div>
                        </div>
                    </div>
                    <!--Nodemailer-->
                    <div class="d-flex text-muted pt-3">
                        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                            <div class="d-flex justify-content-between">
                                <strong class="text-gray-dark"
                                    >Nodemailer</strong
                                >
                                <a
                                    class="text-dark"
                                    href="https://nodemailer.com/about/"
                                    >Link</a
                                >
                            </div>
                        </div>
                    </div>
                    <!--Heroku-->
                    <div class="d-flex text-muted pt-3">
                        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                            <div class="d-flex justify-content-between">
                                <strong class="text-gray-dark">Heroku</strong>
                                <a
                                    class="text-dark"
                                    href="https://devcenter.heroku.com/categories/reference"
                                    >Link</a
                                >
                            </div>
                        </div>
                    </div>
                    <!--Cloudinary-->
                    <div class="d-flex text-muted pt-3">
                        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                            <div class="d-flex justify-content-between">
                                <strong class="text-gray-dark"
                                    >Cloudinary</strong
                                >
                                <a
                                    class="text-dark"
                                    href="https://cloudinary.com/documentation/cloudinary_guides"
                                    >Link</a
                                >
                            </div>
                        </div>
                    </div>
                    <!--Mongoose-->
                    <div class="d-flex text-muted pt-3">
                        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                            <div class="d-flex justify-content-between">
                                <strong class="text-gray-dark">Mongoose</strong>
                                <a
                                    class="text-dark"
                                    href="https://mongoosejs.com/"
                                    >Link</a
                                >
                            </div>
                        </div>
                    </div>
                    <!--Mongoose-->
                    <div class="d-flex text-muted pt-3">
                        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                            <div class="d-flex justify-content-between">
                                <strong class="text-gray-dark"
                                    >Pasportjs</strong
                                >
                                <a
                                    class="text-dark"
                                    href="http://www.passportjs.org/"
                                    >Link</a
                                >
                            </div>
                        </div>
                    </div>
                </div>
                <!--References-->
            </div>
            <!--Body-->
        </main>
        <!--Main -->
    </div>
</div>

<%-include("../partials/admin/admin-footer.ejs"); -%>
