<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/panoramas/info">
            <i class="fas fa-book"></i> Info</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/panoramas/create"
            ><i class="fas fa-plus-square"></i> Create</a
          >
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" href="/Panoramas"
              ><i class="fas fa-camera-retro"></i> Modify</a
            >
          </li> -->
      </ul>
      <form action="/users/logout">
        <button type="submit" class="nav-item btn btn-danger">
          Logout
        </button>
      </form>
    </div>
  </div>
</nav>
