<footer class="text-muted py-5">
    <div class="container">
      <p class="float-end mb-1">
        <a href="#" class="text-secondary "><i class="fas fa-arrow-circle-up"></i> Back to Top</a>
      </p>
      <p class="mb-0">
        &copy; l0ui3
      </p>
    </div>
  </footer>
<!--* Bootstrap Bundle -->
<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
</body>
</html>
