<!-- Back to top button -->
<div class="container">
  <p class="float-end mb-5">
    <a href="#" class="text-secondary"
      ><i class="fas fa-arrow-circle-up"></i> Back to Top</a
    >
  </p>
</div>
<!-- Back to top button -->

<!-- Footer -->
<footer class="text-white text-center text-lg-start bg-dark">
  <!-- Grid container -->
  <div class="container mt-5 mb-5">
	<div class="row">
		<div class="col-md-6 item text">
			<h3>LORMAKAD PROJECT</h3>
			<p> It is a capstone project created to demonstrate the potential of virtual reality technology to improve information dissemination and marketing.</p>
			<p>
			The VR Tour will be covering Lorma Colleges. Lorma Carlatan Campus and Lorma San Juan Campus.
			</p>
		</div>
		<div class="col"><img class="img-fluid" src="/images/css/lorma_logo.png" width="400" height="100"></div>
		<div class="col-sm-6 col-md-3 col-lg-2 item">
		<img class="img-fluid" src="/images/css/ccse_logo.png" width="250" height="100">
		</div>
	</div>
</div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2021 Copyright: LORMAKAD
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->


<!-- *Bootstrap JS Bundle -->
<!-- CDN Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<!-- Local Bootstrap JS -->
<!-- <script src="/js/bootstrap/bootstrap.bundle.min.js"></script> -->

</body>
<!-- Body -->
</html>
<!-- HTML  -->