<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Alpha ver.</title>
        <!--* Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <!--* Favicon  -->
        <link rel="shortcut icon" href="/favicon/favicon.ico" />
        <!--* Bootstrap CSS -->
        <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" />
        <!--* User CSS -->
        <link rel="stylesheet" href="/css/style.css" />
        <!--* User JS  -->
        <script type="text/javascript" src="/js/app.js"></script>
        <!--* GoogleFonts CDN  -->
        <!--*Merriweather-->
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
            rel="stylesheet"
        />
        <!--  -->
        <!--* Fontawesome Icons -->
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
            integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
            crossorigin="anonymous"
        />
    </head>
    <!-- Body -->
    <body class="d-flex flex-column min-vh-100">
        <!-- Header  -->
        <header>
            <div class="collapse bg-dark" id="navbarHeader">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-md-7 py-4">
                            <h5 class="text-white">
                                About <i class="far fa-question-circle"></i>
                            </h5>
                            <ul class="text-muted">
                                <li>Capstone project for LORMA Colleges</li>
                                <li>
                                    Website application created to feature 360°
                                    panorama virtual reality tours of Lorma
                                    Carlatan and San Juan.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar navbar-dark bg-dark shadow-sm">
                <div class="container">
                    <a
                        href="/"
                        class="navbar-brand d-flex align-items-center"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarHeader"
                        aria-controls="navbarHeader"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <strong><i class="fas fa-camera"></i>LORMAKAD°</strong>
                    </a>
                </div>
            </div>
        </header>
    </body>
</html>
