<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LORMAKAD.v1</title>
    <!--*Required meta tags-->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!--*Favicon-->
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <!--*Bootstrap CSS-->
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" />
    <!--*User CSS-->
    <link rel="stylesheet" href="/css/style.css" />
    <!--*User JS-->
    <script type="text/javascript" src="/js/app.js"></script>
    <!--*GoogleFonts CDN-->
    <!--  -->
    <!--*Fontawesome Icons-->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous"
    />
  </head>
  <!--Body-->
  <body class="d-flex flex-column min-vh-100">
    <nav
      class="
        navbar navbar-expand-lg
        sticky-top
        navbar-light
        bg-light
        shadow-sm
        p-3
        mb-5
      "
    >
      <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!--Home-->
            <li class="nav-item">
              <a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
            </li>
            <!--Tours-->
            <li class="nav-item">
              <a class="nav-link disabled" href="/"
                ><i class="fas fa-vr-cardboard"></i> VR Tours</a
              >
            </li>
            <!--Gallery dropdown-->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="far fa-building"></i> Facilities
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li class="nav-item">
                  <a class="nav-link disabled" href="#"> Lorma Carlatan </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/panoramas/1"> Lorma SanJuan </a>
                </li>
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/messages/create"
                ><i class="fas fa-envelope-open-text"></i> Contact Us</a
              >
            </li>
          </ul>
          <a class="btn btn-dark" href="/users/login">Login</a>
        </div>
      </div>
    </nav>
  </body>
</html>
