<%- include("partials/header.ejs"); -%> <%-
include('partials/utils/messages.ejs')%>

<main class="container mt-5 mb-5 px-3">
    <div class="p-2 mb-3">
        <h1>Panoramic Virtual Reality Tour</h1>
        <p class="lead">
            Explore the Panoramic Virtual Reality Tour of Lorma Colleges through
            our web application with the use of your Desktop or Mobile Device.
            Also capable of being viewed through the use of a Virtual Reality
            Goggles.
        </p>
        <p class="lead">
            <a
                href="#"
                class="btn btn-lg btn-secondary fw-bold border-white bg-dark"
                >View Tours</a
            >
        </p>
    </div>
    <div class="p-2 mb-3">
        <h1>Single Panorama Virtual Reality Tour</h1>
        <p class="lead">
            If you would only like to view a specific facility within the
            campus. You can do so through our Facilities Gallery.
        </p>
        <p class="lead">
            <a
                href="/panoramas/1"
                class="
                    btn btn-lg btn-secondary
                    fw-bold
                    border-white
                    bg-secondary
                "
                >View Facilities</a
            >
        </p>
    </div>
</main>

<%-include("partials/footer.ejs"); -%>
