<%- include("partials/header.ejs"); -%> <%- include("partials/navbar.ejs"); -%>
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <i class="fas fa-3x fa-home"></i>
        </div>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"></div>
    </div>
</div>
<%-include("partials/footer.ejs"); -%>
