<%- include("partials/header.ejs"); -%> <%- include("partials/navbar.ejs"); -%>
<%- include('partials/messages.ejs')%>

<main class="container">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">LORMAKAD 360° VR</h1>
            <p class="lead my-3">
                The interactive viewing of panoramic photographs, generally
                encompassing a 360-degree circle or a spherical view.
            </p>
            <p class="lead mb-0">
                <a href="/panoramas/1" class="text-white fw-bold"
                    >View Gallery...</a
                >
            </p>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <!--* Carlatan Link  -->
            <div
                class="
                    row
                    g-0
                    border
                    rounded
                    overflow-hidden
                    flex-md-row
                    mb-4
                    shadow-sm
                    h-md-250
                    position-relative
                "
            >
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success"
                        >Virtual Reality Tour</strong
                    >
                    <h3 class="mb-0">Carlatan Campus</h3>

                    <p class="card-text mb-auto">
                        <i class="fas fa-map-marked-alt"></i> Located along the
                        National Hi-way Carlatan, City of San Fernando, La Union
                        Philippines
                    </p>
                    <a href="#" class="btn btn-success">Start Tour</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <svg
                        class="bd-placeholder-img"
                        width="200"
                        height="250"
                        xmlns="http://www.w3.org/2000/svg"
                        role="img"
                        aria-label="Placeholder: Thumbnail"
                        preserveAspectRatio="xMidYMid slice"
                        focusable="false"
                    >
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c" />
                    </svg>
                </div>
            </div>
        </div>
        <!--* San Juan Link  -->
        <div class="col-md-6">
            <div
                class="
                    row
                    g-0
                    border
                    rounded
                    overflow-hidden
                    flex-md-row
                    mb-4
                    shadow-sm
                    h-md-250
                    position-relative
                "
            >
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success"
                        >Virtual Reality Tour</strong
                    >
                    <h3 class="mb-0">San Juan Campus</h3>
                    <p class="mb-auto">
                        <i class="fas fa-map-marked-alt"></i> Located in Brgy.
                        Urbiztondo, San Juan, La Union
                    </p>
                    <a href="#" class="btn btn-success">Start Tour</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <svg
                        class="bd-placeholder-img"
                        width="200"
                        height="250"
                        xmlns="http://www.w3.org/2000/svg"
                        role="img"
                        aria-label="Placeholder: Thumbnail"
                        preserveAspectRatio="xMidYMid slice"
                        focusable="false"
                    >
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
</main>

<%-include("partials/footer.ejs"); -%>
