<%- include("partials/header.ejs"); -%> <%- include("partials/navbar.ejs"); -%>
<%- include('partials/messages.ejs')%>
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <i class="fas fa-3x fa-home"></i>
        </div>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container text-center">
        <div class="col-lg-6 col-md-8 mx-auto">
            <div class="bg-light p-5 rounded-lg m-3">
                <h1 class="display-4">Hello!</h1>
                <p class="lead">
                    This is a simple application demo, The tour will only show a
                    limited part of the Lorma SanJuan Campus.
                </p>
                <hr class="my-4" />
                <p>
                    To start the virtual panorama exploration, just click the
                    button below!
                </p>
                <a class="btn btn-outline-warning btn-lg" href="#" role="button"
                    >Start Tour <i class="fas fa-vr-cardboard"></i
                ></a>
            </div>
        </div>
    </div>
</div>
<%-include("partials/footer.ejs"); -%>
