<%- include("partials/header.ejs"); -%> <%-/*
include('partials/utils/messages.ejs')*/%>

<!-- class="container mt-5 mb-5 px-3" -->
<main>
	<!-- Showcase -->
	<section
		class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start"
	>
		<div class="container">
			<div class="d-sm-flex align-items-center justify-content-between">
				<div>
					<h1>
						PANORAMA
						<span class="text-success">360° Gallery</span>
					</h1>
					<p class="lead my-4">
						Built using Pannellum, a free and open source viewer for
						panoramic images.
					</p>
					<!-- <button class="btn btn-success btn-lg">
						Start Exploring
					</button> -->
					<a class="btn btn-outline-light btn-lg" href="/panoramas/1">
						360° Gallery
						<span class="text-success"
							><i class="fas fa-vr-cardboard"></i>
						</span>
					</a>
				</div>
				<img
					class="img-fluid w-50 d-none d-sm-block"
					src="/images/css/explore.svg"
					alt=""
				/>
			</div>
		</div>
	</section>

	<!-- Block -->
	<section class="bg-success text-light p-1 mb-5"></section>
</main>

<%-include("partials/footer.ejs"); -%>
