<%- include("partials/header.ejs"); -%> <%- include("partials/navbar.ejs"); -%>
<%- include('partials/messages.ejs')%>
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <i class="fas fa-3x fa-home"></i>
        </div>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container text-center">
        <div class="col-lg-6 col-md-8 mx-auto">
            <div class="bg-light p-5 rounded-lg m-3">
                <h1 class="display-4">Hello, world!</h1>
                <p class="lead">
                    This is a simple hero unit, a simple jumbotron-style
                    component for calling extra attention to featured content or
                    information.
                </p>
                <hr class="my-4" />
                <p>
                    It uses utility classes for typography and spacing to space
                    content out within the larger container.
                </p>
                <a class="btn btn-secondary btn-lg" href="#" role="button"
                    >Start Tour <i class="fas fa-vr-cardboard"></i></a
                >
            </div>
        </div>
    </div>
</div>
<%-include("partials/footer.ejs"); -%>
