<%- include("../partials/admin/admin-header.ejs"); -%>

<div class="container-fluid">
    <div class="row">
        <%- include("../partials/admin/admin-navbar.ejs"); -%>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <!--Content header -->
            <div
                class="
                    d-flex
                    justify-content-between
                    flex-wrap flex-md-nowrap
                    align-items-center
                    border-bottom
                    shadow-sm
                    p-3
                    mb-5
                    bg-white
                    rounded
                "
            >
                <h5>
                    <i class="fas fa-plus-square"></i> Add New Panorama (SanJuan
                    Campus)
                </h5>
            </div>
            <!--Content header -->
            <!--Create form -->
            <div
                class="
                    col-md-8 col-md-8
                    table-responsive
                    shadow-sm
                    p-3
                    mb-5
                    bg-white
                    rounded
                "
            >
                <div class="card">
                    <h5 class="card-header"></h5>
                    <div class="card-body">
                        <div class="col-8">
                            <form
                                action="create"
                                method="POST"
                                autocomplete="off"
                                novalidate
                                class="validated-form"
                                enctype="multipart/form-data"
                            >
                                <!--Title-->
                                <div class="mb-3">
                                    <label class="form-label" for="title"
                                        >Title</label
                                    >
                                    <input
                                        class="form-control"
                                        type="text"
                                        id="title"
                                        name="panorama[title]"
                                        required
                                    />
                                </div>
                                <!--Location-->
                                <div class="mb-3">
                                    <label class="form-label" for="location"
                                        >Location</label
                                    >
                                    <input
                                        class="form-control"
                                        type="text"
                                        id="location"
                                        name="panorama[location]"
                                        required
                                    />
                                </div>
                                <!--Description-->
                                <div class="mb-3">
                                    <label class="form-label" for="description"
                                        >Description</label
                                    >
                                    <textarea
                                        class="form-control"
                                        type="text"
                                        id="description"
                                        name="panorama[description]"
                                        rows="10"
                                        required
                                    ></textarea>
                                </div>
                                <!--Image Url-->
                                <!--! Single Image Only  -->
                                <div class="mb-3">
                                    <label
                                        for="formFileMultiple"
                                        class="form-label"
                                        >Upload Images</label
                                    >
                                    <input
                                        type="file"
                                        class="form-control"
                                        id="formFileMultiple"
                                        name="image"
                                        onchange="document.getElementById('upload').src = window.URL.createObjectURL(this.files[0])"
                                        required
                                    />
                                    <div class="card card-thumbnail">
                                        <img
                                            class="img-fluid fit-preview"
                                            id="upload"
                                            alt="Image Preview"
                                            src="/images/css/preview-default.jpg"
                                        />
                                    </div>
                                </div>
                                <!--Add button -->
                                <div class="mb-3">
                                    <button class="btn btn-secondary float-end">
                                        Add Panorama <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--Create form-->
        </main>
    </div>
</div>

<!--Preview image script-->
<script>
    imgInp.onchange = (evt) => {
        const [file] = imgInp.files;
        if (file) {
            blah.src = URL.createObjectURL(file);
        }
    };
</script>
<!--Preview image script-->

<%-include("../partials/admin/admin-footer.ejs"); -%>
