<%- include("../partials/header.ejs"); -%> <%-
include("../partials/anavbar.ejs"); -%>

<main class="container">
    <div class="col-md-8 m-5">
        <div class="card">
            <h5 class="card-header"></h5>
            <div class="card-body">
                <div class="col-8">
                    <form
                        action="create"
                        method="POST"
                        autocomplete="off"
                        novalidate
                        class="validated-form"
                        enctype="multipart/form-data"
                    >
                        <!--* Title  -->
                        <div class="mb-3">
                            <label class="form-label" for="title">Title</label>
                            <input
                                class="form-control"
                                type="text"
                                id="title"
                                name="panorama[title]"
                                required
                            />
                        </div>
                        <!--* Location  -->
                        <div class="mb-3">
                            <label class="form-label" for="location"
                                >Location</label
                            >
                            <input
                                class="form-control"
                                type="text"
                                id="location"
                                name="panorama[location]"
                                required
                            />
                        </div>
                        <!--* Description  -->
                        <div class="mb-3">
                            <label class="form-label" for="description"
                                >Description</label
                            >
                            <textarea
                                class="form-control"
                                type="text"
                                id="description"
                                name="panorama[description]"
                                rows="3"
                                required
                            ></textarea>
                        </div>
                        <!--* Image Url  -->
                        <!--! Single Image Only  -->
                        <div class="mb-3">
                            <label for="formFileMultiple" class="form-label"
                                >Upload Images</label
                            >
                            <input
                                type="file"
                                class="form-control"
                                id="formFileMultiple"
                                name="image"
                                required
                            />
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-success">
                                Add Panorama <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include("../partials/footer.ejs"); -%>
