<%- include("../partials/header.ejs"); -%> <%-
include("../partials/anavbar.ejs"); -%>
<div class="col-md-8 m-5">
    <div class="card">
        <h5 class="card-header"></h5>
        <div class="card-body">
            <h4>System Information</h4>
            <p class="card-text">Site still under development.</p>
            <p class="card-text mt-3">Notes</p>
            <ul>
                <li>
                    User authentication is required for panorama create, update,
                    delete
                </li>
                <li>User authentication required for message reply</li>
                <li>
                    When updating panorama image, do not forget to clear the
                    image to remove it from the cloud database
                </li>
            </ul>

            <p class="card-text mt-3">ToDo List</p>
            <ul>
                <li>Finish SanJuan virtual tour and link to main website</li>
                <li>Reroute admin info page to index routes</li>
                <li>Create pagination for panorama list</li>
                <li>Create pagination for message list</li>
            </ul>
        </div>
    </div>
</div>
<%-include("../partials/footer.ejs"); -%>
