<%- include("../partials/header.ejs"); -%> <%-
include("../partials/anavbar.ejs"); -%>
<div class="card col-6 offset-3">
    <div class="card-body">
        <h4>System Information</h4>
        <p class="card-text">
            Site still under development.
        </p>
        <p class="card-text mt-3">
            Notes
            <ul>
                <li>User authentication is required for panorama create, update, delete</li>
                <li>When updating panorama image, delete the current image first.</li>
            </ul>
        </p>
        <p class="card-text mt-3">
            ToDo List
            <ul>
                <li>Email Response</li>
                <li>Design Updates</li>
                <li>Linking of SanJuan VR Tour</li>
            </ul>
        </p>
    </div>
</div>
<%-include("../partials/footer.ejs"); -%>
