<!--*Bootstrap CSS-->
<link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" />

<!--* Panellum API -->
<script type="text/javascript" src="/js/pannellum/pannellum.js"></script>
<!--* Panellum CSS -->
<link href="/css/pannellum/pannellum.css" rel="stylesheet" />
<link href="/css/pannellum/style.css" rel="stylesheet" />

<!--* Body  -->
<main class="container mt-2 mb-5">
  <div class="container py-4">
    <!--Pannellum viewer -->
    <div class="p-3 mb-4 text-light bg-light rounded-3">
      <div class="container">
        <div class="img-fluid" id="panorama">
          <div id="controls">
            <div class="ctrl" id="pan-up">&#9650;</div>
            <div class="ctrl" id="pan-down">&#9660;</div>
            <div class="ctrl" id="pan-left">&#9664;</div>
            <div class="ctrl" id="pan-right">&#9654;</div>
            <div class="ctrl" id="zoom-in">&plus;</div>
            <div class="ctrl" id="zoom-out">&minus;</div>
            <div class="ctrl" id="fullscreen">&#x2922;</div>
          </div>
        </div>
        <span class="text-muted">
          Note: please click on the image and drag left and right to view the
          entire space
        </span>
      </div>
    </div>
    <!--Pannellum viewer -->

    <!--Description -->
    <div class="row align-items-md-stretch">
      <div class="col-md-12">
        <div class="h-100 p-5 bg-light text-dark rounded-3">
          <h2><i class="fas fa-compass"></i> <%= panorama.title %></h2>
          <h5>Description</h5>
          <p><%= panorama.description %></p>
        </div>
      </div>
    </div>
    <!--Back to list btn -->
    <div class="btn-group float-end">
      <a href="/panoramas/1" type="button" class="btn btn-dark">
        Back to list of facilities
      </a>
    </div>
    <!--Back to list btn -->
  </div>
  <!--Description -->

  <!--!temp fix for url fetch -->
  <!--Hidden Link -->
  <% panorama.images.forEach((img, i) => { %>
  <input id="panorama.url" type="hidden" value=" <%= img.panorama %>" />
  <% }) %>
</main>

<!--* Panellum viewer JS  -->
<script>
  // autoLoad: true => auto start panorama on page load
  panoramaURL = document.getElementById('panorama.url').value;
  panoramaLocation = '<%= panorama.location %>';
  //* 360 Panorama
  viewer = pannellum.viewer('panorama', {
    type: 'equirectangular',
    panorama: panoramaURL,
    autoRotate: -2,
    compass: true,
    northOffset: 247.5,
    preview: panoramaURL,
    title: panoramaLocation,
    author: 'LORMAKAD',
  });
</script>
<!--* Pannellum viewer controls JS  -->
<script src="/js/pannellum/pannellum.controls.js"></script>
