<%- include("../partials/header.ejs"); -%> <%-
include("../partials/navbar.ejs"); -%>

<main class="container">
    <div class="row mt-5">
        <div class="col-md-6 m-auto">
            <div class="card card-body">
                <p><i class="fas fa-sign-in-alt"></i> User Login</p>
                <%- include('../partials/messages.ejs') %>
                <!--* Form Login -->
                <form action="/users/login" method="POST" autocomplete="off">
                    <div class="form-group">
                        <!--* Email  -->
                        <label for="email">Email</label>
                        <input
                            type="email"
                            id="email"
                            name="email"
                            class="form-control"
                            placeholder="Enter Email"
                        />
                    </div>
                    <div class="form-group">
                        <!--* Password  -->
                        <label for="password">Password</label>
                        <input
                            type="password"
                            id="password"
                            name="password"
                            class="form-control"
                            placeholder="Enter Password"
                        />
                    </div>
                    <!--* Login Button  -->
                    <button type="submit" class="btn btn-dark btn-block">
                        Login
                    </button>
                </form>
                <p>No Account? <a href="/users/register">Register</a></p>
            </div>
        </div>
    </div>
</main>

<%- include("../partials/footer.ejs"); -%>
