<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Alpha ver.</title>
        <!--* Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <!--* Favicon  -->
        <link rel="shortcut icon" href="/favicon/favicon.ico" />
        <!--* User CSS -->
        <link rel="stylesheet" href="/css/dashboard.css" />
        <!--* User JS  -->
        <script type="text/javascript" src="/js/app.js"></script>
        <!--* GoogleFonts CDN  -->
        <!-- Lato  -->
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
            rel="stylesheet"
        />
        <!--  -->
        <!--* Bootstrap CSS -->
        <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" />
        <!--* Fontawesome Icons -->
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
            integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
            crossorigin="anonymous"
        />
    </head>
    <!-- Body -->
    <body class="d-flex flex-column min-vh-100">
        <header
            class="
                navbar navbar-dark
                sticky-top
                bg-dark
                flex-md-nowrap
                p-0
                shadow
            "
        >
            <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#"
                >Company name</a
            >
            <button
                class="navbar-toggler position-absolute d-md-none collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#sidebarMenu"
                aria-controls="sidebarMenu"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
        </header>
    </body>
</html>
