<!DOCTYPE html>
<html lang="en">
    <head>
        <title>LORMAKAD.admin</title>
        <!--*Required meta tags-->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <!--*Favicon-->
        <link rel="shortcut icon" href="/favicon/favicon.ico" />
        <!--*Bootstrap CSS-->
        <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" />
        <!--*User CSS-->
        <link rel="stylesheet" href="/css/dashboard.css" />
        <!--*User JS-->
        <script type="text/javascript" src="/js/app.js"></script>
        <!--*GoogleFonts CDN-->
        <!--* Open Sans  -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <!--  -->
        <!--*Fontawesome Icons-->
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
            integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
            crossorigin="anonymous"
        />
    </head>
    <!--Body-->
    <body class="d-flex flex-column min-vh-100">
        <header
            class="
                navbar navbar-dark
                sticky-top
                bg-dark
                flex-md-nowrap
                p-0
                shadow
            "
        >
            <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">
                <strong><i class="fas fa-camera"></i>LORMAKAD°</strong></a
            >
            <input
                class="form-control form-control-dark w-100"
                type="text"
                placeholder="Search"
                aria-label="Search"
            />
            <button
                class="navbar-toggler position-absolute d-md-none collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#sidebarMenu"
                aria-controls="sidebarMenu"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
        </header>
    </body>
</html>
