<nav
    id="sidebarMenu"
    class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
>
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="#"
                    ><i class="fas fa-tachometer-alt"></i> Dashboard
                </a>
            </li>
        </ul>

        <!--Documentation-->
        <h6
            class="
                sidebar-heading
                d-flex
                justify-content-between
                align-items-center
                px-3
                mt-5
                mb-1
                text-muted
            "
        >
            <span>Documentation</span>
            <i class="fas fa-drafting-compass"></i>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard/admin/info">
                    <span data-feather="file-text"></span>
                    <i class="fas fa-cogs"></i> Technical Information
                </a>
            </li>
        </ul>
        <!--Documentation-->

        <!--Panoramas Carlatan Campus-->
        <h6
            class="
                sidebar-heading
                d-flex
                justify-content-between
                align-items-center
                px-3
                mt-5
                mb-1
                text-muted
            "
        >
            <span>Carlatan Campus</span>
            <i class="fas fa-vr-cardboard"></i>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-plus-square"></i> Create new Panorama
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-list-ol"></i> List of Panoramas
                </a>
            </li>
        </ul>
        <!--Panoramas Carlatan Campus-->

        <!--Panoramas SanJuan Campus-->
        <h6
            class="
                sidebar-heading
                d-flex
                justify-content-between
                align-items-center
                px-3
                mt-3
                mb-1
                text-muted
            "
        >
            <span>SanJuan Campus</span>
            <i class="fas fa-vr-cardboard"></i>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="/panoramas/admin/create">
                    <i class="fas fa-plus-square"></i> Create new Panorama
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/panoramas/admin/list/1">
                    <i class="fas fa-list-ol"></i> List of Panoramas
                </a>
            </li>
        </ul>
        <!--Panoramas SanJuan Campus-->

        <!--Messages -->
        <h6
            class="
                sidebar-heading
                d-flex
                justify-content-between
                align-items-center
                px-3
                mt-5
                mb-1
                text-muted
            "
        >
            <span>Messages</span>
            <i class="fas fa-envelope-open-text"></i>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="/messages/admin/list/1">
                    <i class="fas fa-inbox"></i>
                    Inbox
                </a>
            </li>
        </ul>
        <!--Messages -->

        <!--User dropdown-->
        <h6
            class="
                sidebar-heading
                d-flex
                justify-content-between
                align-items-center
                px-3
                mt-5
                mb-1
                text-muted
            "
        >
            <span>User</span>
            <i class="fas fa-user-circle"></i>
        </h6>
        <ul class="nav flex-column mb-2">
            <a
                href="#"
                class="nav-link dropdown-toggle"
                id="dropdownUser1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
            >
                <!-- <img
                    src="https://github.com/mdo.png"
                    alt="hugenerd"
                    width="30"
                    height="30"
                    class="rounded-circle"
                /> -->
                <span
                    ><i class="fas fa-id-card-alt"></i> Logged in as <%=
                    currentUser.name %></span
                >
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                <li class="nav-item">
                    <form action="/users/logout" class="p-2">
                        <button type="submit" class="btn btn-sm btn-danger">
                            <i class="fas fa-sign-out-alt"></i>
                            Logout
                        </button>
                    </form>
                </li>
            </ul>
        </ul>
        <!--User dropdown-->
    </div>
</nav>
