<nav
    id="sidebarMenu"
    class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
>
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/panoramas/admin/info"> Dashboard </a>
            </li>
        </ul>

        <!--Panoramas -->
        <h6
            class="
                sidebar-heading
                d-flex
                justify-content-between
                align-items-center
                px-3
                mt-4
                mb-1
                text-muted
            "
        >
            <span>Gallery</span>
            <i class="far fa-images"></i>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="/panoramas/admin/create">
                    Add new panorama
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/panoramas/admin/list/1">
                    Panorama List
                </a>
            </li>
        </ul>
        <!--Panoramas -->

        <!--Messages -->
        <h6
            class="
                sidebar-heading
                d-flex
                justify-content-between
                align-items-center
                px-3
                mt-4
                mb-1
                text-muted
            "
        >
            <span>Messages</span>
            <i class="fas fa-envelope-open-text"></i>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="/messages/admin/list/1">
                    <span data-feather="file-text"></span>
                    Inbox
                </a>
            </li>
        </ul>
        <!--Messages -->
    </div>
</nav>
